---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Об авторе">
  <article>
    <h1>Об авторе</h1>
    <p>
      Здесь будет информация об авторе.
    </p>
  </article>
</BaseLayout>
