---
import BaseLayout from '../../layouts/BaseLayout.astro';
const base = import.meta.env.BASE_URL;
---

<BaseLayout title="Об авторе" lang="ru" otherLangUrl={`${base}/en/about/`}>
  <article>
    <h1>Об авторе</h1>
    <p>Здесь будет информация об авторе.</p>
  </article>
</BaseLayout>
